<% if @album.images.first %>
  <li class="album-tile">
    <a href='<%= album_path(@album) %>'>
      <h3 class="img-count"><%= @album.images.count %></h3>
      <%= image_tag(@album.images.first.location, :type => "fetch", :width => 300, :height => 300, :crop => :thumb) %>
      <h2><span class="title"><%= @album.title %></span></h2>
    </a>
  </li>
  <% else %>
    <li><%= link_to "#{@album.title} #{@album.images.count} images", album_path(@album) %></li>
<% end %>
