<% if @album.images.first %>
  <li class="album-tile">
    <a href='<%= album_path(@album) %>'>
      <h3 class="img-count"><%= @album.images.count %></h3>
      <%= image_tag(@album.images.first.location, :type => "fetch", :width => 500, :height => 500, :crop => :thumb) %>
      <h2><span class="title"><%= @album.title %></span></h2>
    </a>
  </li>
  <% else %>
  <li class="album-tile">
    <a href='<%= album_path(@album) %>'>
      <h3 class="img-count"><%= @album.images.count %></h3>
      <%= image_tag("album_default.png", :width => 500, :height => 500) %>
      <h2><span class="title"><%= @album.title %></span></h2>
    </a>
  </li>
<% end %>
