<div class="album_edit">
  <%= form_for :album, method: :put, html: {id: "update-album-form"}, remote: true,  url: album_path(params[:id]) do |f| %>
    <%= render "shared/errors" %>

    <%= f.label :title, :class => "big-label" %>
    <%= f.text_field :title, :required => true %>

    <%= f.label :description, :class => "big-label" %>
    <%= f.text_area :description %>

    <%= f.label :tag, "What Instagram tag would you like to plop photos from? (optional)", :class => "big-label" %>
    <%= f.text_area :tag %>

    <%= f.label :vanity_url, :class => "big-label" %>
    <%= f.text_field :vanity_url, :required => true %>

      <label for="read_privilege", class="big-label">Who can view your album?</label>
        <%= f.radio_button :read_privilege, "1" %>
        <%= f.label :read_privilege, "Anyone" %>

        <span class="long-label"><%= f.radio_button :read_privilege, "2" %>
        <%= f.label :read_privilege, "Anyone with the password" %></span>

      <label for="write privilege", class="big-label">Who can add images to your album?</label>
        <%= f.radio_button :write_privilege, "1" %>
        <%= f.label :write_privilege, "Anyone" %>

        <span class="long-label"><%= f.radio_button :write_privilege, "2" %>
        <%= f.label :write_privilege, "Anyone with the password" %></span>

      <%= f.label :password, :class => "big-label" %>
      <%= f.text_field :password %>

      <%= f.submit "Save Changes" %>
  <% end %>
  <%= button_to "Cancel", @album, method: :get %>

  <%= button_to "Delete Album", @album, method: :delete, data: { confirm: "Are you sure?" } %>
</div>
