<% content_for :title, "Create an Album" %>

<div class="albums-new">
  <h2>Create an Album</h2>

  <%= form_for :album, url: albums_path, html: {id: 'new-album-form'} do |f| %>
    <%= render "shared/errors" %>
    <div class="small-12 medium-6 large-6 columns">
      <%= f.label :title, "Album Title", :class => "big-label" %>
      <%= f.text_field :title, :required => true %>

      <%= f.label :description, "Describe Your Album", :class => "big-label"  %>
      <%= f.text_area :description %>


      <%= f.label :tag, "What Instagram tag would you like to plop photos from? (optional)", :class => "big-label" %>
      <div class="row collapse">
        <div class="small-2 large-1 columns">
          <span class="prefix">#</span>
        </div>
        <div class="small-10 large-11 columns">
          <%= f.text_field :tag %>
        </div>
      </div>

      <label for="read_privilege" class="big-label">Who can view your album?</label>
      <%= f.radio_button :read_privilege, "1" %>
      <%= f.label :read_privilege, "Anyone" %>

      <span class="long-label"><%= f.radio_button :read_privilege, "2" %>
        <%= f.label :read_privilege, "Anyone with the password" %></span>

      <label for="write privilege" class="big-label">Who can add images to your album?</label>
      <%= f.radio_button :write_privilege, "1" %>
      <%= f.label :write_privilege, "Anyone" %>

      <span class="long-label"><%= f.radio_button :write_privilege, "2" %>
        <%= f.label :write_privilege, "Anyone with the password" %></span>

      <%= f.label :password, :class => "big-label"  %>
      <%= f.text_field :password %>

      <%= f.submit "Create Your Album", :class => "button" %>
    </div>
  <% end %>
</div>