<% content_for :title, @album.title %>


<div class="album_show">
  <div class="row">

    <div id ="album-show-title" class="small-9 medium-10 large-10 columns">
      <h1><%= @album.title %></h1>
      <p>Description: <%= @album.description %></p>
      <p>Creator: <%= @album.creator.username %></p>
      <p>Album Tag:
        <% if @album.tag %>
          #<%= @album.tag %>
        <% else %>
          (none)
        <% end %>
    </div>

    <div class="small-3 medium-2 large-2 columns four-buttons">
      <div class="row">
        <span id="upload-photo-box">
          <%= link_to raw("<i class=\"fa fa-plus-square\"></i>"), new_album_image_path(@album.id), remote: true, id: "upload_button" %>
        </span>

        <span id="favorite-button-container">
          <% if current_user %>
            <%= render partial: "favorites/button"%>
          <% end %>
        </span>
      </div>

      <div class="row">
        <a href='' id="share-button"><i class="fa fa-share-alt-square"></i></a>

        <% if @album.owner?(current_user) %>
          <%= link_to raw("<i class=\"fa fa-pencil-square\"></i>"), edit_album_path(@album.id), id: "album-show-edit-button", remote: true %>
        <% end %>
      </div>

    </div>

  </div>

  <div class="row">
    <div class="small-9 medium-10 large-10 columns" id="share-url-container" style="display: none;">
      <label>Your album's URL is:</label> <input type="text" value="<%= show_vanity_url(@album) %>" disabled></input>
      <%= custom_tweet_button("<i class=\"fa fa-twitter\"></i> Tweet This Album".html_safe, {:text => "Plop to my album: #{@album.title}", url: "http://www.photoplop.herokuapp.com/#{@album.vanity_url}" }) %>
    </div>
  </div>

  <div class="row"><div class="small-9 medium-6 large-4 columns" id="to_append_to">
  </div></div>

  <ul class="clearing-thumbs small-block-grid-3 medium-block-grid-5 large-block-grid-6" data-clearing>
    <% @album.images.each do |image| %>
       <li class="img-tile">
        <% if image.owner?(current_user) || @album.owner?(current_user) %>
          <%= button_to "X", {:controller => :images,
          :action => 'destroy', album_id: @album.id, :id => image.id }, :class => "button",  :method => :delete, data: { confirm: "Are you sure?" } %>
         <% end %>
        <%= link_to image_tag(image.location, :type => "fetch", :width => 200, :height=> 200, :crop => :thumb, :data => {:caption => "#{image.caption} (Uploaded by #{image.owner.username})"}), image.location %>
      </li>
    <% end %>
  </ul>

</div>
