<!-- shows tile previews for each image -->
<!-- can add images -->
<!-- can change permissions for album -->
<!-- can rename or delete album -->
<!-- can share album, which gives me copy url, facebook, twitter and instagram buttons -->
<!-- can click image preview to see popup for image -->

<h1><%= @album.title %></h1>

<div id="favorite-button-container">
  <% if current_user %>
    <%= render partial: "favorites/button"%>
  <% end %>
</div>
<div id="upload-photo-box">
  <%= link_to "Upload New Image", new_album_image_path(@album.id), remote: true, id: "upload_button" %>
</div>
<% if @album.owner?(current_user) %>
<p> Your album's URL is: http://www.photoplop.com/<%= @album.vanity_url %> | SHARE THIS ALBUM |
  <span><input type="text" value="http://www.photoplop.com/<%= @album.vanity_url %>" disabled></input></span>
  <%= link_to "Edit Album", edit_album_path(@album.id) %>
  <% end %>
  <br>

  <% @album.images.each do |image| %>
  <%= link_to cl_image_tag(image.location, :width => 100, :height=> 100, :crop => :thumb, :gravity => :faces), album_image_path(@album.id, image.id) %>
  <% if image.owner?(current_user) %>
    <%= button_to "DELETE", {:controller => :images,
    :action => 'destroy', album_id: @album.id, :id => image.id }, :method => :delete %>
  <% end %>
    <br>
    <% end %>
