<h1><%= @album.title %></h1>
<p><%= @album.description %></p>
<p><%= @album.creator.username %></p>

<div id="favorite-button-container">
  <% if current_user %>
    <%= render partial: "favorites/button"%>
  <% end %>
</div>


<div id="upload-photo-box">
  <%= link_to "Upload New Image", new_album_image_path(@album.id), remote: true, id: "upload_button" %>
</div>

<p> Your album's URL is: <span><input type="text" value="http://www.photoplop.com/<%= @album.vanity_url %>" disabled></input></span>| <button id="share-button">SHARE THIS ALBUM</button> |
  <div id="share-url-container" style="display: none;">
    <img src="http://media.idownloadblog.com/wp-content/uploads/2013/04/Twitter-2.2-Mac-app-icon-small.png">
    <img src="http://www.waterproof-usa.com/_images/common/instagram.png">
  </div>
  <% if @album.owner?(current_user) %>
    <%= link_to "Edit Album", edit_album_path(@album.id) %>
  <% end %>
  <br>

<ul class="small-block-grid-3 large-block-grid-4">
  <% @album.images.each do |image| %>
     <li><%= link_to image_tag(image.location, :type => "fetch", :width => 100, :height=> 100, :crop => :thumb, :gravity => :face), album_image_path(@album.id, image.id) %></li>

<!--   <% if image.owner?(current_user) %>
    <%= button_to "DELETE", {:controller => :images,
    :action => 'destroy', album_id: @album.id, :id => image.id }, :method => :delete %>
  <% end %> -->

  <% end %>
</ul>
