<div class="new-image">
	<%= cloudinary_js_config %>

	<%= form_for :image, id: "upload-form", url: album_images_path, html: { multipart: true } do |f| %>
		<fieldset>
			<legend>Plop an Image</legend>
		  <%= render "shared/errors" %>

		  <%= f.file_field(:image_url) %>

		  <label for="direct_url">Image Url</label>
		  <input type="text" name="image[direct_url]" id="direct_url">

		  <%= f.label :caption %>
		  <%= f.text_field :caption %>

		  <%= f.submit "Upload" %>
		</fieldset>
	<% end %>
</div>